{% include "header.html" %}
      <form action = "/changepassword" method = "POST">
        <table class = "table">
          <tr><td><b>Old password</b></td><td><input type = "password" name = "oldpass"></td></tr>
          <tr><td><b>New password</b></td><td><input type = "password" name = "newpass"></td></tr>
          <tr><td><b>Confirm new password</b></td><td><input type = "password" name = "connewpass"></td></tr>
          <tr><td><input type = "submit" class = "btn btn-secondary"></td></tr>
        </table>
      </form>
      {% if message %}
      <p style = "color:{{'green' if success else   'red'}}"> {{ message }} </p>
      {% endif %}
{% include "footer.html" %}
